{% extends 'teamproject/base.html' %}

{% block teamContent %}
<br/><br/><br/>
기여도 평가 목록
<div class="">
그래프 부분
</div>
<div class="container">
  <div class="row">
  <div class="col-3"></div>
    <table  class="table table-hover text-center">
    <form class="" action="./contribution_save" method="post">
      {% csrf_token %}
      <thead>
        <tr>
          <th scope="col">이름</th>
          <th scope="col">주석 수정 줄 수<br><input type="number" name="comment" value="{{ comment }}"></th>
          <th scope="col">코드 수정 줄 수<br><input type="number" name="code" value="{{ code }}"></th>
          <th scope="col">리소스 추가 수<br><input type="number" name="resource" value="{{ resource }}"></th>
          <th scope="col">총점<br><input type="submit" name="" value="비율 저장"></th>
        </tr>
      </thead>
    </form>
  {% for con in contributions  %}
  <tr>
    <td>{{ con.memberId }}</td>
    <td>{{ con.comment }}</td>
    <td>{{ con.code }}</td>
    <td>{{ con.resource }}</td>
    <td>{{ con.total }}%</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}
