{% extends 'lobby/base.html' %}

{% block content %}
<div class="side-bar">
</div>
<div class="main">
  <div class="input-box">
    <form class="" action="process_create" method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td>팀 프로젝트 명</td>
          <td><input type="text" name="teamName" placeholder="팀 이름을 입력해주세요"></td>
        </tr>
        <tr>
          <td>소속 해커톤</td>
          <td><input type="text" name="hackName" placeholder="소속된 해커톤이 없습니다" readonly></td>
        </tr>
      </table>
      <input type="hidden" name="hackTtitle" value="">
      <input type="submit" name="" value="개설">
      <input type="button" name="" value="취소">
    </form>
  </div>
</div>
{% endblock %}
