{% extends 'teamproject/base.html' %}

{% block teamContent %}

{% if hasHackathon == True %}
<div class="">
  해커톤 공지
  <table>
    <tr>
      <td>제목</td>
      <td>날짜</td>
    </tr>
    {% for hackNotice in hackNotices %}
    <tr>
      <td><a href="./hack_notice_view/{{ hackNotice.pk }}">{{ hackNotice.title }}</a></td>
      <td>{{ hackNotice.date }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="#">더보기</a>
</div>
{% endif %}

<div class="">
  팀 공지
  <table>
    <tr>
      <td>제목</td>
      <td>작성자</td>
      <td>날짜</td>
    </tr>
    {% for teamNotice in teamNotices %}
    <tr>
      <td><a href="./team_notice_view/{{ teamNotice.pk }}">{{ teamNotice.title }}</a></td>
      <td>{{ teamNotice.writer.pk }}</td>
      <td>{{ teamNotice.writtenDate }}</td>
    </tr>
    {% endfor %}
  </table>
  <form class="" action="./team_notice_post" method="post">
    {% csrf_token %}
    <input type="text" name="title" value="" placeholder="제목을 입력해주세요"><br>
    <textarea name="content" rows="8" cols="80"></textarea><br>
    <input type="hidden" name="teamId" value="{{ teamId }}">
    <input type="submit" name="" value="작성">
  </form>
</div>

{% endblock %}
