{% extends 'lobby/base.html' %}

{% block customStyle %}
<style>
  div{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .side-bar{
    float: left;
    height: 100%;
  }
  .main{
    float: left;
    height: 100%;
  }

  .ContentBoxWithTitle {
    border: 1px gray solid;
  }
  .ContentBoxWithTitle .ContentBoxTitle{
    background: gray;
    margin: 0, 0, 0, 0;
    color: white;
  }
  .ContentBoxWithTitle .RecentActBox{
    width: 100%;
  }
</style>
{% endblock %}

{% block customTitle %}
Gitathon Main
{% endblock %}

{% block content %}
<div class="card my-4">
  <h5 class="card-header">내 팀 프로젝트</h5>
    <div class="card-body">
      <ul>
        {% for team in teams %}
          <li><a href="/team/{{ team.id }}/main">{{ team.teamName }}</a></li>
        {% endfor %}
      </ul>
      <a href="#">show more</a><br/>
      <a href="/team/create">create new</a>
  </div>
 </div>
 <div class="card my-4">
   <h5 class="card-header">내 해커톤</h5>
   <div class="card-body">
      <ul>
        {% for hack in hackList %}
          <li><a href="/hackathon/page/main/{{hack.id}}">{{hack.title}}</a></li>
        {% endfor %}
      </ul>
    <div class="ContentBoxFooter">
      <a href="#">show more</a><br/>
      <a href="/hackathon/hold">create new</a>
    </div>
    </div>
    </div>
<div class="main">
  <div class="ContentBoxWithTitle RecentActBox">
    <div class="ContentBoxTitle">
      최근 활동들
    </div>
    <div class="ContentBoxHeader">
    </div>
    <div class="ContentBoxBody">
      안녕하세요
    </div>
    <div class="ContentBoxFooter"></div>
  </div>
</div>
{% endblock%}
