{% extends 'lobby/base.html' %}

{% block customStyle %}
<style>
  div{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .side-bar{
    float: left;
    height: 100%;
  }
  .main{
    float: left;
    height: 100%;
  }
</style>
{% endblock %}

{% block customTitle %}
Gitathon Main
{% endblock %}

{% block content %}
<br/>
<br/>
<div class = "container">
<div class = "row">
    <div class = "col-5">
      <div class="card my-4">
        <h5 class="card-header">내 팀 프로젝트</h5>
          <div class="card-body">
            <ul>
              {% for team in teams %}
                <li><a href="/team/{{ team.id }}/main">{{ team.teamName }}</a></li>
              {% endfor %}
            </ul>
            <a href="#">show more</a><br/>
            <a href="/team/create">create new</a>
        </div>
       </div>
       <div class="card my-4">
         <h5 class="card-header">내 해커톤</h5>
         <div class="card-body">
            <ul>
              {% for hack in hackList %}
                <li><a href="/hackathon/page/main/{{hack.id}}">{{hack.title}}</a></li>
              {% endfor %}
            </ul>
          <div class="ContentBoxFooter">
            <a href="#">show more</a><br/>
            <a href="/hackathon/hold">create new</a>
          </div>
          </div>
          </div>
    </div>
    <div class = "col-6">
      <div class="card my-4">
        <h5 class="card-header"> 최근 활동들</h5>
          <div class="card-body">
            <ul>
              {% for team in teams %}
                <li><a href="/team/{{ team.id }}/main">{{ team.teamName }}</a></li>
              {% endfor %}
            </ul>
            <a href="#">show more</a><br/>
            <a href="/team/create">create new</a>
        </div>
       </div>
      </div>
    </div>
</div>
{% endblock%}
