<html>
  <head>
    <title>Gitathon!</title>

  </head>
  <body>
    <div class="lobby-img">
    </div>
    <div class="register-form">
      <form class="" action="/accounts/register" method="POST">
        {% csrf_token %}
        <input type="text" name="memberId" placeholder="아이디를 입력해주세요"><br />
        <input type="text" name="email" placeholder="이메일을 입력해주세요"><br />
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요"><br />
        <input type="submit" name="" value="가입하기">
      </form>
    </div>
  </body>
</html>
